p {
text-align: center; color: crimson;
 } 
 body {
background: lightgoldenrodyellow;
font-family:serif;
margin: 40px;
 }
 h1 {
text-align: center;
color: #6f7bfc;
}

.about {
background: #000000;
}

.project img{
width: 300px;
height: 300px;
margin: 10px auto;
border: 2px solid rgb(40, 138, 141); 
display: block;
object-fit: cover;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 40px; 
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #8893a6; 
  border-radius: 40px;
  padding: 20px;
  text-align: center;
  width: 400px;
}