p {
text-align: center; color: crimson;
 } 
 body {
background: lightgoldenrodyellow;
font-family:serif;
margin: 40px;
 }
 h1 {
text-align: center;
color: #6f7bfc;
}

.about {
background: #000000;
}

.projects { display:flex; flex-wrap:wrap; } 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; 
border-radius: 25%;
}